/*
========================================================================================
    Nextflow config file for running barrnap nf-test tests
========================================================================================
*/

process {
    executor = 'slurm'
}

singularity {
    pullTimeout  = '3 hours'
    cacheDir     = '/ibex/scratch/projects/c2303/NXF_SINGULARITY_CACHEDIR'
}

apptainer {
    pullTimeout  = '3 hours'
    cacheDir     = '/ibex/scratch/projects/c2303/NXF_APPTAINER_CACHEDIR'
}
