config {
    // location for all nf-test tests
    testsDir "tests"

    // nf-test working directory
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // nextflow.config specific to these tests
    configFile "tests/nextflow.config"

    // helper groovy functions (reuse project-level lib)
    libDir "../../../../tests/lib"

    // run with singularity profile
    profile "test,singularity"

    // load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
    }
}
